@{
    ViewBag.Title = "Home Page";
}

<!-- ======= Header ======= -->
<header id="header" class="d-flex flex-column justify-content-center">

    <nav class="nav-menu">
        <ul>
            <li class="active"><a href="#hero"><i class="bx bx-home"></i> <span>Home</span></a></li>
            <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
            <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
            <li><a href="#portfolio"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
            <li><a href="#classMates"><i class="bx bx-face"></i> <span>Classmates</span></a></li>
            <li><a href="@Url.Action("Contact","Home")"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
    </nav><!-- .nav-menu -->

</header><!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <h1>Blaine Gomez</h1>
        <p>I'm A <span class="typed" data-typed-items="Designer, Developer"></span></p>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About</h2>
                <p>I am a full-stack web developer based out of Kansas City, Missouri. Throughout my life, I've always been a quick Learner and excelled in education. I really enjoy music and most art. I'm a logical thinker, I always did well in math and am good with patterns and solving logical problems. I get very invested in my work and am very passionate about whatever im working on.</p>
            </div>

            <div class="row">
                <div class="col-lg-12 pt-4 pt-lg-0 content">
                    <h3 id="aboutTech">My Life with Technology</h3>
                    <p id="techText" class="font-italic">
                        Technology has always been apart of my life, growing up I was always around a computer and gaming consoles. I believe this is what led me to an IT field. I often understood technology and had no issues using it and could find my way around websites and the internet. Even when I got older I was still excelent at using technology to work wether it was for school or a job. I found coding when I was in highschool through a web design class and immedietly connected with building websites and applications. It felt good to write code and then see how what I wrote impacted the site I was putting together, even now there is still that small spark of excitement when what I write builds the vision I have in my head.
                    </p>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Resume</h2>
                <h3>Coming Soon</h3>
            </div>

            <!--<div class="row">
              <div class="col-lg-6">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                  <h4>Brandon Johnson</h4>
                  <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p>
                  <ul>
                    <li>Portland par 127,Orlando, FL</li>
                    <li>(123) 456-7891</li>
                    <li>alice.barkley@example.com</li>
                  </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                  <h4>Master of Fine Arts &amp; Graphic Design</h4>
                  <h5>2015 - 2016</h5>
                  <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
                  <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
                </div>
                <div class="resume-item">
                  <h4>Bachelor of Fine Arts &amp; Graphic Design</h4>
                  <h5>2010 - 2014</h5>
                  <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
                  <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
                </div>
              </div>
              <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                  <h4>Senior graphic design specialist</h4>
                  <h5>2019 - Present</h5>
                  <p><em>Experion, New York, NY </em></p>
                  <ul>
                    <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
                    <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
                    <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
                    <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
                  </ul>
                </div>
                <div class="resume-item">
                  <h4>Graphic design specialist</h4>
                  <h5>2017 - 2018</h5>
                  <p><em>Stepping Stone Advertising, New York, NY</em></p>
                  <ul>
                    <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>
                    <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
                    <li>Recommended and consulted with clients on the most appropriate graphic design</li>
                    <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
                  </ul>
                </div>
              </div>
            </div>-->

        </div>
    </section><!-- End Resume Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Portfolio</h2>
                <h3>Dungeon App</h3>
            </div>
        </div>
        <div class="row">
            <div id="portfoliosection" class="col-md-12">
                <img src="~/Content/assets/img/DungeonAppPhotoResized.jpg" />
            </div>
            <br />
            <div id="portfoliosection" class="col-md-4 offset-4">
                <h4 id="porth4">This is a small game I made using C#. It has a build character menu where you can choose character race and weapon and depending on what weapon you choose your player either increases in damage or blocking as well as increased health or damage depending on your chosen race. It also has a functional "Dice roll" like fighting mechanic where random numbers are generated for both the player and monster.</h4>
            </div>
        </div>
        <div id="portfoliobutton" class="col-md-12">
            <a href="https://github.com/BlaineG106/DungeonApp" class="btn btn-primary text-center" target="_blank">Check It Out</a>
        </div>
        <div class="row" style="padding-top: 15px;">
            <div class="col-md-12 text-center">
                <h3>Store Front</h3>
            </div>
            <div class="col-md-12 text-center">
                <a href="http://storefront.blainegomez.com" target="_blank" class="btn btn-primary">Check It Out</a>
            </div>
            <div id="comingsoon" style="text-align: center;" class="col-md-12">
                <h3> More Coming Soon </h3>
            </div>
        </div>


    </section>
    <!-- ======= ClassMates Section ======= -->
    <section id="classMates" class="testimonials section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>My Classmates</h2>
            </div>
        </div>
        <div class="owl-carousel testimonials-carousel" data-aos="zoom-in" data-aos-delay="100">

            <div class="testimonial-item">
                <img src="~/Content/assets/img/classmates/KolbyWilliamsPhoto.jpg" class="testimonial-img" alt="photo of kolby williams">
                <h3>Kolby Williams</h3>
                <p>
                    <a href="http://kolbyjwilliams.com" class="btn btn-primary">Visit Their Site</a>
                </p>
            </div>

            <div class="testimonial-item">
                <img src="~/Content/assets/img/classmates/KaseyShiltResized.jpg" height="200" id="kasey" class="testimonial-img" alt="photo of kasey shilt">
                <h3>Kasey Shilt</h3>
                <p>
                    <a href="http://kaseyshilt.com" class="btn btn-primary">Visit Their Site</a>
                </p>
            </div>

            <div class="testimonial-item">
                <img src="~/Content/assets/img/classmates/KathrynRosellaPhotoResized.jpg" class="testimonial-img" alt="photo of kathryn rosella">
                <h3>Kathryn Rosella</h3>
                <p>
                    <a href="http://kathrynrosella.com" class="btn btn-primary">Visit Their Site</a>
                </p>
            </div>

            <div class="testimonial-item">
                <img src="~/Content/assets/img/classmates/JamesEarpPhotoResized.jpg" class="testimonial-img" alt="photo of james earp">
                <h3>James Earp</h3>
                <p>
                    <a href="http://jamesearp.com" class="btn btn-primary">Visit Their Site</a>
                </p>
            </div>

            <!--<div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>-->

        </div>
    </section><!-- End Testimonials Section -->


</main><!-- End #main -->